.drawer-panels {
    #drawer {
        #profileheader{
            #avatar{
                height: 74px;
                width: 74px;
                border-radius: 50%;
                background: $secondary-text;
                background-size: cover;
                background-position: center center;
                margin-left: 16px;
            }
            #name{
                color: white;
                opacity: .9;
                font-weight: 500;
                padding-left: 16px;
                margin-top: 20px;
                font-size: 16px;
            }
            #detail{
                margin-left: 16px;
                opacity: .9;
                color: white;
                font-size: 15px;
                margin-top: 8px;
            }
            height: calc((64px * 3) - 40px);
            background-color: lighten($primary-colour, 5%);
            background-size: cover;
            background-position: center center;
            padding-top: 40px;
        }
        ul{
            li{
                .material-icons{
                    font-size: 30px;
                    display: inline-block;
                    margin-top: 10px;
                    color: $secondary-text;
                    margin-right: 25px;
                }
                div{
                    display: inline-block;
                    margin-top: 18px;
                    position: absolute;
                    font-weight: 500;
                }
                padding: 5px 16px 10px 16px;
                cursor: pointer;
            }
            li.active{
                background: #E8E8E8;
            }
            li:hover{
                background: #E8E8E8;
            }
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 8px;
        }
        width: 320px;
        height: 100vh;
        display: inline-block;
        float: left;
        background: white;
        position: fixed;
        transition: margin-left .4s;
        z-index: 64;
        top: 0;
    }
    #main {
        width: calc(100% - 320px);
        display: inline-block;
        float: right;
    }
}

@media screen and (max-width: 680px) {
    .drawer-panels {
        #drawer {
            margin-left: calc(-100% - 64px);
            transition: margin-left .4s;
            width: calc(100% - 64px);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
        }
        #main{
            width: 100%;
        }
    }
    #drawer-off{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.3);
        display: none;
        z-index: 63;
        top: 0;
        cursor: pointer;
    }
}