/*
 _____ _     _____ _     ____ _____ _  ____  _     
/  __// \   /  __// \ |\/  _ Y__ __Y \/  _ \/ \  /|
|  \  | |   |  \  | | //| / \| / \ | || / \|| |\ ||
|  /_ | |_/\|  /_ | \// | |-|| | | | || \_/|| | \||
\____\\____/\____\\__/  \_/ \| \_/ \_/\____/\_/  \|
                                                   

INFORMATION
-----------
You should not touch the styles defined here, they have been chosen to accurately represent elevation from within material design.

HOW TO USE
----------
You can use elevation on any element within HTML. To use elevation, add the attribute 'elevation', with the elevation amount.
For ever level of elevation, there is one z added. For an elevation height of 1, there would be one z, for an elevation height of 2, 
there would be two.

EXAMPLE USAGE
------------

<div elevation="z"></div>
This would have an elevation level of 1.

<div elevation="zz"></div>
This would have an elevation level of 2.



*/

[elevation=z] {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .4s;
    
}

[elevation=zz] {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    transition: box-shadow .4s;
}

[elevation=zzz] {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    transition: box-shadow .4s;
}

[elevation=zzzz] {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    transition: box-shadow .4s;
}

[elevation=zzzzz] {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    transition: box-shadow .4s;
}
.noelevation{
    transition: box-shadow .4s;
    box-shadow: none !important;
}